In [1]:
# reading csv file

import pandas as pd

df = pd.read_csv('uk-500.csv') # read_csv to convert csv file to pandas dataframe

# print first 5 rows 
print(df.head())

    id first_name   last_name             company_name            address  \
0  1.0    Aleshia  Tomkiewicz  Alan D Rosenburg Cpa Pc       14 Taylor St
1  2.0       Evan   Zigomalas       Cap Gemini America        5 Binney St
2  3.0     France     Andrade      Elliott, John W Esq       8 Moor Place
3  4.0    Ulysses   Mcwalters           Mcmahan, Ben L      505 Exeter Rd
4  5.0     Tyisha      Veness           Champagne Room  5396 Forth Street

                             city           county    postal        phone1  \
0               St. Stephens Ward             Kent   CT2 7PP  01835-703597
1                      Abbey Ward  Buckinghamshire  HP11 2AX  01937-864715
2  East Southbourne and Tuckton W      Bournemouth   BH6 3BE  01347-368222
3              Hawerby cum Beesby     Lincolnshire  DN36 5RP  01912-771311
4      Greets Green and Lyng Ward    West Midlands   B70 9DT  01547-429341

         phone2                       email  \
0  01944-369967     atomkiewicz@hotmail.com
1  01714-737668    evan.zigomalas@gmail.com
2  01935-821636  france.andrade@hotmail.com
3  01302-601380         ulysses@hotmail.com
4  01290-367248   tyisha.veness@hotmail.com

                                    web    in  out
0  http://www.alandrosenburgcpapc.co.uk   9:3  NaN
1     http://www.capgeminiamerica.co.uk  9:13  NaN
2      http://www.elliottjohnwesq.co.uk  9:46  NaN
3          http://www.mcmahanbenl.co.uk   9:4  NaN
4        http://www.champagneroom.co.uk   8:1  NaN

In [2]:
print(df.columns) # returns the csv headers

Index(['id', 'first_name', 'last_name', 'company_name', 'address', 'city',
       'county', 'postal', 'phone1', 'phone2', 'email', 'web', 'in', 'out'],
      dtype='object')

In [3]:
df.to_excel('test.xlsx', index=False)

In [4]:
# dataframe function - iloc and loc
# iloc - filter using row and column index
# loc - filter using row values

# get the first row
print(df.iloc[0])

id                                               1.0
first_name                                   Aleshia
last_name                                 Tomkiewicz
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
in                                               9:3
out                                              NaN
Name: 0, dtype: object

In [5]:
# get the last row
print(df.iloc[-1])

id                                                      NaN
first_name                                               Mi
last_name                                            Richan
company_name                 Nelson Wright Haworth Golf Crs
address                                     6 Norwood Grove
city                                      Tanworth-in-Arden
county                                         Warwickshire
postal                                              B94 5RZ
phone1                                         01451-785624
phone2                                         01202-738406
email                                        mi@hotmail.com
web             http://www.nelsonwrighthaworthgolfcrs.co.uk
in                                                     9:36
out                                                     NaN
Name: 499, dtype: object

In [6]:
# select range of rows
print(df.iloc[10:15])

      id   first_name  last_name                   company_name  \
10  11.0     Fernanda     Writer           K & R Associates Inc
11  12.0  Charlesetta        Erm               Cain, John M Esq
12  13.0     Corrinne      Jaret              Sound Vision Corp
13  14.0       Niesha      Bruch         Rowley/hansell Petetin
14  15.0       Rueben  Gastellum  Industrial Engineering Assocs

               address                            city                 county  \
10  620 Northampton St                      Wilmington                   Kent
11         5 Hygeia St            Loundsley Green Ward             Derbyshire
12      2150 Morley St                        Dee Ward  Dumfries and Galloway
13        24 Bolton St  Broxburn, Uphall and Winchburg           West Lothian
14        4 Forrest St               Weston-Super-Mare         North Somerset

      postal        phone1        phone2                             email  \
10   DA2 7PP  01630-202053  01687-879391             fernanda@writer.co.uk
11   S40 4LY  01276-816806  01517-624517         charlesetta_erm@gmail.com
12   DG8 7DE  01625-932209  01642-322954          corrinne_jaret@gmail.com
13  EH52 5TL  01874-856950  01342-793603            niesha.bruch@yahoo.com
14  BS23 3HG  01976-755279  01956-535511  rueben_gastellum@gastellum.co.uk

                                             web    in  out
10              http://www.krassociatesinc.co.uk  8:18  NaN
11                 http://www.cainjohnmesq.co.uk  8:50  NaN
12              http://www.soundvisioncorp.co.uk  9:55  NaN
13         http://www.rowleyhansellpetetin.co.uk  9:37  NaN
14  http://www.industrialengineeringassocs.co.uk  8:38  NaN

In [7]:
# get selective rows
print(df.iloc[[23,56,65,78,90]])

      id first_name   last_name                    company_name  \
23  24.0    Tamesha      Veigel             Wilhelm, James E Jr
56  57.0       Dong  Kopczynski              Kennedy Scales Inc
65  66.0    Lindsay       Yadao         Lutz, Christopher T Esq
78  79.0     Anisha     Shulick  Dale Yoder Clu Life Hlth & Bus
90  91.0       Mira    Alpheaus             East County Process

               address                 city          county    postal  \
23  2200 Nelson St #58              Newport   Isle of Wight  PO30 5AL
56      7 Cheapside #9              St. Ive        Cornwall  PL14 5PA
65       7 Jolliffe St           Middlewich        Cheshire  CW10 9GB
78          3 Alder St      Eaton Park Ward  Stoke-on-Trent   ST2 9AW
90   51 St Anne St #12  Stratfield Mortimer       Berkshire   RG7 3RA

          phone1        phone2                         email  \
23  01217-342071  01280-786847          tveigel@veigel.co.uk
56  01770-129032  01639-518104  dkopczynski@kopczynski.co.uk
65  01947-566661  01481-295251     lindsay_yadao@yadao.co.uk
78  01780-704167  01268-233798            ashulick@yahoo.com
90  01241-273991  01381-836777       mira.alpheaus@yahoo.com

                                         web    in  out
23          http://www.wilhelmjamesejr.co.uk  8:10  NaN
56         http://www.kennedyscalesinc.co.uk   8:8  NaN
65      http://www.lutzchristophertesq.co.uk  8:13  NaN
78  http://www.daleyoderclulifehlthbus.co.uk  8:18  NaN
90        http://www.eastcountyprocess.co.uk  8:27  NaN

In [8]:
# filtering using column index
print(df.iloc[:,1:4])

    first_name   last_name                    company_name
0      Aleshia  Tomkiewicz         Alan D Rosenburg Cpa Pc
1         Evan   Zigomalas              Cap Gemini America
2       France     Andrade             Elliott, John W Esq
3      Ulysses   Mcwalters                  Mcmahan, Ben L
4       Tyisha      Veness                  Champagne Room
..         ...         ...                             ...
495      Avery        Veit      Plaza Gourmet Delicatessen
496       Reid     Euresti            Fitzgerald, Edward J
497  Charlette    Brenning              Furey & Associates
498  Celestina       Keeny        Bfg Federal Credit Union
499         Mi      Richan  Nelson Wright Haworth Golf Crs

[500 rows x 3 columns]

In [9]:
# filtering using row values
print(df.loc[df['email'].str.endswith('gmail.com')])

       id   first_name  last_name                  company_name  \
1     2.0         Evan  Zigomalas            Cap Gemini America
11   12.0  Charlesetta        Erm              Cain, John M Esq
12   13.0     Corrinne      Jaret             Sound Vision Corp
29   30.0        Karma     Quarto               J C S Machinery
32   33.0        Milly    Savidge     Bridgeway Plan For Health
..    ...          ...        ...                           ...
472   NaN          Mel   Picciuto                Avante Limited
480   NaN      Tijuana   Machalek        Schwartz, Thomas E Esq
483   NaN      Derrick    Dolloff       Proto Tek Manufacturing
494   NaN       Alesia      Katie  Nelsons Trmt & Pest Cntrl Co
498   NaN    Celestina      Keeny      Bfg Federal Credit Union

                    address                  city                  county  \
1               5 Binney St            Abbey Ward         Buckinghamshire
11              5 Hygeia St  Loundsley Green Ward              Derbyshire
12           2150 Morley St              Dee Ward   Dumfries and Galloway
29             1 Birkett St        Shard End Ward           West Midlands
32    129 Alexander Pope St          Franche Ward  Hereford and Worcester
..                      ...                   ...                     ...
472          8598 Rumney Rd          Hylands Ward                   Essex
480  1149 Highfield Rd #996    Fareham South Ward               Hampshire
483         236 Blantyre Rd          Everton Ward              Merseyside
494         4 Covent Garden        Farnworth Ward      Greater Manchester
498             9 Milton St      Consett North ED           County Durham

       postal        phone1        phone2                       email  \
1    HP11 2AX  01937-864715  01714-737668    evan.zigomalas@gmail.com
11    S40 4LY  01276-816806  01517-624517   charlesetta_erm@gmail.com
12    DG8 7DE  01625-932209  01642-322954    corrinne_jaret@gmail.com
29    B33 0NH  01857-864722  01307-667811           kquarto@gmail.com
32   DY11 9BW  01702-725589  01421-132652             milly@gmail.com
..        ...           ...           ...                         ...
472  RM11 1QL  01885-270480  01268-443299      mel.picciuto@gmail.com
480  PO14 9JJ  01242-532395  01336-686264  tijuana.machalek@gmail.com
483    L6 2EN  01982-734773  01619-554437   derrick_dolloff@gmail.com
494   BL4 7AF  01333-436799  01240-614527      alesia_katie@gmail.com
498   DH8 5LP  01877-379681  01600-463475   celestina_keeny@gmail.com

                                         web    in  out
1          http://www.capgeminiamerica.co.uk  9:13  NaN
11             http://www.cainjohnmesq.co.uk  8:50  NaN
12          http://www.soundvisioncorp.co.uk  9:55  NaN
29             http://www.jcsmachinery.co.uk  8:49  NaN
32   http://www.bridgewayplanforhealth.co.uk  9:24  NaN
..                                       ...   ...  ...
472           http://www.avantelimited.co.uk  8:39  NaN
480      http://www.schwartzthomaseesq.co.uk  8:59  NaN
483   http://www.prototekmanufacturing.co.uk   8:9  NaN
494  http://www.nelsonstrmtpestcntrlco.co.uk   9:4  NaN
498   http://www.bfgfederalcreditunion.co.uk  9:21  NaN

[130 rows x 14 columns]

In [12]:
print(df.loc[df['first_name']=='France'])

df.loc[df['first_name']=='France','last_name']='Andrew'

print(df.loc[df['first_name']=='France'])

    id first_name last_name         company_name       address  \
2  3.0     France   Andrade  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN
    id first_name last_name         company_name       address  \
2  3.0     France    Andrew  Elliott, John W Esq  8 Moor Place

                             city       county   postal        phone1  \
2  East Southbourne and Tuckton W  Bournemouth  BH6 3BE  01347-368222

         phone2                       email                               web  \
2  01935-821636  france.andrade@hotmail.com  http://www.elliottjohnwesq.co.uk

     in  out
2  9:46  NaN

In [14]:
df.to_json('df.json')