In [2]:
# merge dataframes
import pandas as pd

df1 = pd.read_excel('names.xlsx',sheet_name='Sheet1')

df2 = pd.read_excel('names.xlsx',sheet_name='Sheet2')

print(df1)

print(df2)

  name  age department
0  raj   21         IT
1  bob   20        CSE
2  tom   21        EEE
3  pat   20       ELEC
4  joe   21        ECE
  department departmentname
0        CSE       Computer
1       ELEC     Electrical
2        EEE    Electronics
3       CHEM       Chemical
4         IT    Information

In [3]:
# merge df1 and df2 using common column 'department'

df3 = pd.merge(df1,df2,on='department')

print(df3)

  name  age department departmentname
0  raj   21         IT    Information
1  bob   20        CSE       Computer
2  tom   21        EEE    Electronics
3  pat   20       ELEC     Electrical

In [4]:
# merge df1 and df2 using common column 'department' and left join

df3 = pd.merge(df1,df2,on='department',how='left')

print(df3)

  name  age department departmentname
0  raj   21         IT    Information
1  bob   20        CSE       Computer
2  tom   21        EEE    Electronics
3  pat   20       ELEC     Electrical
4  joe   21        ECE            NaN

In [5]:
# merge df1 and df2 using common column 'department' and right join

df3 = pd.merge(df1,df2,on='department',how='right')

print(df3)

  name   age department departmentname
0  bob  20.0        CSE       Computer
1  pat  20.0       ELEC     Electrical
2  tom  21.0        EEE    Electronics
3  NaN   NaN       CHEM       Chemical
4  raj  21.0         IT    Information

In [ ]:
# merge df1 and df2 using common column 'department' and right join

df3 = pd.merge(df1,df2,on='department',how='right')

print(df3)